body {
    margin: 0;
    padding: 0;
    font-family: serif;
    background-color: #f8f3e6;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.green-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #274232;
}
/* Header image full width */
.header-image-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0 0 0 0;
}
.header-image {
    width: 100%;
    height: auto;
    display: block;
}
.text-overlay {
    position: absolute;
    top: 3%;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
    color: #2f554d; /* Green color */
    justify-content: space-between;
}

.text-overlay .title {
    font-size: 5rem;
    margin-left: 20px; /* Space between date and title */
}

.text-overlay .date {
    font-size: 5rem;
    margin-right: 55px;
    text-align: left;
}
.crest-container {
    position: relative;
    display: flex;
    background-color: none;
    justify-content: center; /* Centers horizontally */
    z-index: 10; /* Ensures it's above other content */
    margin-top: -100px; /* Adjust as needed to overlap the content */
}
.crest {
    width: 150px; /* Adjust to fit the size you want */
    height: auto;
}
.details {
    font-size: 2rem;
    color: #f8f3e6;
    background-color: #274232;
    padding: 0px 0 80px 0;
}
.icon {
    max-width: 50px;
    height: auto;
    margin: 20px auto;
}
.event-section {
    background-color: #274232;
    color: #f8f3e6;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.event-section h2 {
    margin: 0;
    font-size: 1.5rem;
}
.event-details {
    font-size: 1rem;
}
@media (max-width: 768px) {
    .text-overlay {
        flex-direction: column;
        align-items: center;
    }
    .text-overlay .date, .text-overlay .title {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }
    .details {
        font-size: 1rem;
    }
}