body {
    margin: 0;
    padding: 0;
    font-family: "abril-display", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #faf5f1;
    letter-spacing: 0.2em;
}
p {
    font-family: "abril-text", serif;
    font-weight: 300;
    font-style: normal;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-section {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.fade-in-section.visible {
    animation: fadeIn 1s ease forwards;
}
.white-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin: 20px auto 50px auto;
}
.green-container {
    width: 100%;
    margin: 0;
    text-align: center;
    background-color: #444C27;
    color: #faf5f1;
}
/* Header image full width */
.header-image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0 0 0 0;
}
.header-image {
    width: 100%;
    display: block;
}
.text-overlay {
    position: fixed;
    top: 3%;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
    color: #000000; /* Green color */
    justify-content: space-between;
}

.text-overlay .title {
    font-size: 5rem;
    margin-left: 20px; /* Space between date and title */
}

.text-overlay .date {
    font-size: 5rem;
    margin-right: 55px;
    text-align: left;
}
.details {
    font-size: 2rem;
    color: #faf5f1;
    background-image: url('vines.png');
    background-color: #444C27;
    /* background-size: cover; */
    background-position: center;
    padding: 80px 0 80px 0;
    margin: 0;
}
.accommodations-section {
    display: flex;
    align-items: stretch; /* Ensures both items stretch to the same height */
    border-bottom: 5px solid #434B26;
    border-top: 5px solid #434B26;
}

.accommodations-image, .accommodations-text {
    flex-grow: 1; /* Makes both divs expand to the same height */
    width: 50%; /* Ensures each takes half the section width */
}

.accommodations-image {
    object-fit: cover;
}

.accommodations-text {
    background-image: url('vines2.png');
    background-size: cover;
    font-size: 1.5rem;
    line-height: 1.6;
    text-align: left;
    padding: 75px;
}

.accommodations-text h2 {
    font-size: 2.2rem;
    margin-bottom: 15px;
}

.accommodations-text p {
    margin-bottom: 10px;
}
.footnote {
    color: #274232;
    background-color: #faf5f1;
    padding: 40px 0 40px 0;
    text-align: center;
    border-bottom: 5px solid #434B26;
}
.connector {
    width: 4px;
    margin: 10px auto;
}
.event-image {
    transform: scale(0.8);
}
.event-section {
    color: #000000;
    padding: 0px;
    border-radius: 10px;
    margin-bottom: 0px;
}
.event-section h1 {
    margin: 0;
}
.event-section h2 {
    margin: 0;
    font-size: 1.5rem;
}
.event-details {
    font-size: 1.2rem;
}
.button-div {
    text-align: center;
    width: 100%;
    margin: 10px 0px 50px 0px;
}
.hotel-recommendations-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #faf5f1;
    padding: 40px 40px;
}

.hotel {
    width: 45%;
    max-width: 300px;
    margin: 20px;
    text-align: center;
    color: #000000;
}

.hotel h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.hotel p {
    font-size: 1rem;
    margin: 0;
}

.hotel-recommendations-container p a {
    color: #000000;
    text-decoration: underline;
}
.hotel-recommendations-container p a:hover {
    text-decoration: none;
}

.escapes-container {
    background-color: #faf5f1;
    text-align: center;
    padding: 20px;
    color: #000000;
}

.escapes-container h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.escapes-container p a {
    color: #000000;
    font-size: 1.2rem;
    text-decoration: underline;
}

.escapes-container p a:hover {
    text-decoration: none;
}
.travel-info {
    color: #f8f3e6;
    text-align: center;
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
}

.travel-info h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.travel-info p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.travel-info ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
}

.travel-info ul li {
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.travel-info ul li a {
    color: #f8f3e6;
    text-decoration: underline;
}

.travel-info ul li a:hover {
    text-decoration: none;
}

.getting-around {
    justify-content: center;
    background-color: #faf5f1;
    padding: 40px 40px;
    color: #000000;
    border-bottom: 5px solid #434B26;
}

.getting-around h2 {
    color: #274232;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.getting-around p {
    color: #274232;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.getting-around p a {
    color: #000000;
    text-decoration: underline;
}
.getting-around p a:hover {
    text-decoration: none;
}

img.button {
    width: 400px;
    border-radius: 10px;
}

.quote-section {
    border-bottom: 5px solid #434B26;
    border-top: 5px solid #434B26;
    position: relative;
    background-image: url('quote-photo.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 800px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 40px;
}

.quote-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.quote-overlay {
    position: relative;
    z-index: 2;
    max-width: 400px;
    text-align: right;
    margin-right: 140px;
}

.quote-text {
    font-size: 1.7rem;
    line-height: 1.6;
    color: #434B26;
    font-weight: bold;
}

.quote-author {
    font-size: 1.2rem;
    margin-top: 20px;
    font-style: italic;
}

.designer-credit {
    position: relative;
    display: inline-block;
    width: 100%; /* Adjust width as needed */
    background-image: url('leaves.svg'); /* Use your actual SVG or image file path here */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0; /* Adjust padding as needed to show the full background graphic */
    text-align: center;
}

.designer-text {
    font-weight: 400;
}


/* Mobile/Small Screens */
@media (max-width: 768px) {
    /* Text Overlay - stack vertically */
    .text-overlay {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-overlay .title, .text-overlay .date {
        font-size: 2.5rem; /* Adjust the font size for mobile */
        margin-bottom: 10px;
        text-align: center;
    }

    /* Header Image height reduced */
    .header-image-container {
        height: 50vh; /* Reduce image height for smaller screens */
    }

    /* Reduce details font size */
    .details {
        font-size: 1.5rem;
        padding: 40px 0;
    }

    .crest-container {
        position: relative;
        display: flex;
        background-color: none;
        justify-content: center; /* Centers horizontally */
        z-index: 10; /* Ensures it's above other content */
        margin-top: -60px; /* Adjust as needed to overlap the content */
    }

    /* Crest size reduced */
    .crest {
        width: 100px; /* Smaller crest for mobile */
    }

    /* Event details */
    .event-section h2 {
        font-size: 1.2rem; /* Slightly smaller font for event section titles */
    }

    .event-details {
        font-size: 1.2rem; /* Reduce font size for event details */
    }

    .footnote {
        background-color: #faf5f1;
        font-size: 1.2rem; /* Smaller footnote text */
        padding: 20px 0;
    }
}

/* Extra small screens */
@media (max-width: 480px) {
    .text-overlay .title, .text-overlay .date {
        font-size: 2rem; /* Even smaller text for very small screens */
    }

    .details {
        font-size: 1.2rem;
        padding: 30px 0;
    }

    .footnote {
        font-size: 1rem;
        padding: 15px 0;
    }
}